snippet bp "binding.pry"
	<% binding.pry %>
snippet erbb "erbb" w
	<% ${1:variable} do |${2:arg}| %>
		${3:code}
	<% end %>
snippet erbe "erbe" w
	<%= ${1:code} %>
snippet erb "erb" w
	<% ${1:code} %>
snippet = "=" w
	<%= ${1:code} %>
snippet % "%" w
	<% ${1:code} %>
snippet if
	<% if ${1:false} %>
		${0}
	<% end %>
snippet end
	<% end %>
