snippet bp "binding.pry"
<% binding.pry %>
endsnippet

snippet erbb "erbb" w
<% ${1:variable} do |${2:arg}| %>
	${3:code}
<% end %>
endsnippet

snippet erbe "erbe" w
<%= ${1:code} %>
endsnippet

snippet erb "erb" w
<% ${1:code} %>
endsnippet

snippet = "=" w
<%= ${1:code} %>
endsnippet

snippet % "%" w
<% ${1:code} %>
endsnippet

snippet if
<% if ${1:false} %>
	${0}
<% end %>
endsnippet

snippet end
<% end %>
endsnippet
